@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {

  font-style: normal;
  color: #333333;
  background: #fff;
  font-family: "Open Sans", serif;
  font-weight: 400;
  font-size: 15px;

}

input:focus,
button:focus,
a:focus {
  outline: none !important;
  box-shadow: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {

  font-family: "Lora", serif;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 45px;
  line-height: 60px;
}

h3 {
  font-size: 40px;
  line-height: 50px;
}

h4 {
  font-size: 30px;
  line-height: 40px;
}

h5 {
  font-size: 25px;
  line-height: 30px;
}

h6 {
  font-size: 18px;
  line-height: 25px;
}

a {
  color: #333333;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  color: #6AA39D;
}

img {
  max-width: 100%;
}

.f-size-11 {
  font-size: 11px;
}

.f-size-12 {
  font-size: 12px;
}

.f-size-14 {
  font-size: 114px;
}

.f-size-16 {
  font-size: 16px;
}

.f-size-18 {
  font-size: 18px;
}

.f-weight-100 {
  font-weight: 100;
}

.f-weight-200 {
  font-weight: 200;
}

.f-weight-300 {
  font-weight: 300;
}

.f-weight-400 {
  font-weight: 400;
}

.f-weight-500 {
  font-weight: 500;
}

.f-weight-600 {
  font-weight: 600;
}

.f-weight-700 {
  font-weight: 700;
}

.f-weight-800 {
  font-weight: 800;
}

.f-weight-900 {
  font-weight: 900;
}

.f-weight-bold {
  font-weight: bold;
}

.m-t-5 {
  margin-top: 5px !important;
}

.p-t-5 {
  padding-top: 5px !important;
}

.m-b-5 {
  margin-bottom: 5px !important;
}

.p-b-5 {
  padding-bottom: 5px !important;
}

.m-l-5 {
  margin-left: 5px !important;
}

.p-l-5 {
  padding-left: 5px !important;
}

.m-r-5 {
  margin-right: 5px !important;
}

.p-r-5 {
  padding-right: 5px !important;
}

.m-t-10 {
  margin-top: 10px !important;
}

.p-t-10 {
  padding-top: 10px !important;
}

.m-b-10 {
  margin-bottom: 10px !important;
}

.p-b-10 {
  padding-bottom: 10px !important;
}

.m-l-10 {
  margin-left: 10px !important;
}

.p-l-10 {
  padding-left: 10px !important;
}

.m-r-10 {
  margin-right: 10px !important;
}

.p-r-10 {
  padding-right: 10px !important;
}

.m-t-15 {
  margin-top: 15px !important;
}

.p-t-15 {
  padding-top: 15px !important;
}

.m-b-15 {
  margin-bottom: 15px !important;
}

.p-b-15 {
  padding-bottom: 15px !important;
}

.m-l-15 {
  margin-left: 15px !important;
}

.p-l-15 {
  padding-left: 15px !important;
}

.m-r-15 {
  margin-right: 15px !important;
}

.p-r-15 {
  padding-right: 15px !important;
}

.m-t-20 {
  margin-top: 20px !important;
}

.p-t-20 {
  padding-top: 20px !important;
}

.m-b-20 {
  margin-bottom: 20px !important;
}

.p-b-20 {
  padding-bottom: 20px !important;
}

.m-l-20 {
  margin-left: 20px !important;
}

.p-l-20 {
  padding-left: 20px !important;
}

.m-r-20 {
  margin-right: 20px !important;
}

.p-r-20 {
  padding-right: 20px !important;
}

.m-t-25 {
  margin-top: 25px !important;
}

.p-t-25 {
  padding-top: 25px !important;
}

.m-b-25 {
  margin-bottom: 25px !important;
}

.p-b-25 {
  padding-bottom: 25px !important;
}

.m-l-25 {
  margin-left: 25px !important;
}

.p-l-25 {
  padding-left: 25px !important;
}

.m-r-25 {
  margin-right: 25px !important;
}

.p-r-25 {
  padding-right: 25px !important;
}

.m-t-30 {
  margin-top: 30px !important;
}

.p-t-30 {
  padding-top: 30px !important;
}

.m-b-30 {
  margin-bottom: 30px !important;
}

.p-b-30 {
  padding-bottom: 30px !important;
}

.m-l-30 {
  margin-left: 30px !important;
}

.p-l-30 {
  padding-left: 30px !important;
}

.m-r-30 {
  margin-right: 30px !important;
}

.p-r-30 {
  padding-right: 30px !important;
}

.m-t-35 {
  margin-top: 35px !important;
}

.p-t-35 {
  padding-top: 35px !important;
}

.m-b-35 {
  margin-bottom: 35px !important;
}

.p-b-35 {
  padding-bottom: 35px !important;
}

.m-l-35 {
  margin-left: 35px !important;
}

.p-l-35 {
  padding-left: 35px !important;
}

.m-r-35 {
  margin-right: 35px !important;
}

.p-r-35 {
  padding-right: 35px !important;
}

.m-t-40 {
  margin-top: 40px !important;
}

.p-t-40 {
  padding-top: 40px !important;
}

.m-b-40 {
  margin-bottom: 40px !important;
}

.p-b-40 {
  padding-bottom: 40px !important;
}

.m-l-40 {
  margin-left: 40px !important;
}

.p-l-40 {
  padding-left: 40px !important;
}

.m-r-40 {
  margin-right: 40px !important;
}

.p-r-40 {
  padding-right: 40px !important;
}

.m-t-45 {
  margin-top: 45px !important;
}

.p-t-45 {
  padding-top: 45px !important;
}

.m-b-45 {
  margin-bottom: 45px !important;
}

.p-b-45 {
  padding-bottom: 45px !important;
}

.m-l-45 {
  margin-left: 45px !important;
}

.p-l-45 {
  padding-left: 45px !important;
}

.m-r-45 {
  margin-right: 45px !important;
}

.p-r-45 {
  padding-right: 45px !important;
}

.m-t-50 {
  margin-top: 50px !important;
}

.p-t-50 {
  padding-top: 50px !important;
}

.m-b-50 {
  margin-bottom: 50px !important;
}

.p-b-50 {
  padding-bottom: 50px !important;
}

.m-l-50 {
  margin-left: 50px !important;
}

.p-l-50 {
  padding-left: 50px !important;
}

.m-r-50 {
  margin-right: 50px !important;
}

.p-r-50 {
  padding-right: 50px !important;
}
.btn-fill {
  background-color: #0E5103;
}
.navbar-nav .nav-link {
  color: #3A3A3A;
  font-weight: 500;
}
.header-item-holder {
  background: #FCFCFC;
  box-shadow: 0px 0px 2px #aaaaaa;
  padding: 15px 15px;
  border-radius: 20px;
}
header.site-header {
  padding: 20px 0;
}
.site-header .container-fluid {
  padding: 0;
}
.main-menu-holder .container {
  padding: 0;
}
ul.dropdown-menu.show, .submenu.dropdown-menu {
  border-radius: 20px;
  box-shadow: 0 4px 6px rgb(0 0 0 / 21%);
}
.dropdown-item.active, .dropdown-item:active, .dropdown-item:focus, .dropdown-item:hover {
  border-radius: 10px !important;
}
ul.dropdown-menu {
  padding: 10px;
}
.dropdown-menu li {
  margin-bottom: 5px;
}

.item-holder {
  position: absolute;
  top: 30%;
  width: 100%;
  color: #fff;
}
.banner-text {
  max-width: 1000px;
  text-align: center;
  margin: 0 auto;
}
.btn-fill {
  background-color: #0E5103;
  padding: 14px 15px 10px;
  color: #fff;
}
.btn-fill img {
  width: 30px;
  margin-left: 5px;
}
body .owl-carousel .owl-dots {
  position: initial;
  display: flex !important;
  justify-content: center;
  margin-top: -50px;
}
body .owl-dot {
  border-radius: 30px;
  width: 50px;
  height: 13px;
  background: #A7A7A7 !important;
  display: block;
  z-index: 122;
  position: relative;
}

button.owl-dot.active {
  background: #fff !important;
  width: 90px !important;
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
  margin: 10px;
}

.owl-carousel .owl-dots {
  display: block !important;
}
.agricultural-holder {
  background-color: #E0FBDC;
  padding: 50px 30px 30px;
  border-radius: 20px;
}
.agricultural {
  margin-top: 80px;
}
.agricultural-holder img {
  border-radius: 20px;
}
.quality .quality-holder .heading-holder, .supply-chain-holder .heading-holder {
  width: 50%;
}
.b-r-20 {
  border-radius: 20px;
}
.site-section.quality {
  padding: 60px 0;
}
.btn-border {
  border: 1px solid #0E5103;
  color: #0E5103;
  padding: 10px 30px;
  font-weight: 400;
}
.supply-chain-item {
  background: #0E5103;
  color: #fff;
  padding: 25px 15px;
  border-radius: 20px;
  min-height: 390px;
}
.item-holder-2 {
  background-color: #0E5103;
  color: #fff;
    padding: 30px 30px 60px;
    border-radius: 20px;
    min-height: 380px;
}
.markets {
  padding: 50px 0;
}
.white-color {
  color: #fff;
  border-color: #fff;
}
.mar-item {
  background-color: #E0FBDC;
  border-radius: 20px;
  padding: 30px 15px;
}

.font-open-sans {
  font-family: "Open Sans", serif;
}
.top-align {
  position: relative;
  top: -4px;
}
.social-media {
  padding-left: 0;
  list-style: none;
  display: flex;
}
.social-media li {
  margin-right: 10px;
}
.social-media a {
  background-color: #0E5103;
  width: 42px;
  height: 42px;
  display: flex;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
}
.site-footer {
  background-color: #F8F8F8;
}
.site-footer {
  background-color: #F8F8F8;
  padding: 50px 0;
  border-top: 1px solid #e2e2e2;
}
.footer-menu ul {
  padding-left: 0;
  list-style: none;
}

.footer-menu ul li {
  margin-bottom: 15px;
}
.color-green {
  color: #0E5103;
}
.product li.nav-item {
  width: 50%;
  text-align: center;
}
.product .nav-tabs .nav-link {
  width: 100%;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #fff;
  background-color: #fff;
  border-color: #0E5103;
  background: #0E5103;
  border-radius: 30px;
  color: #fff !important;
}
.nav-tabs {
  background: #EEEEEE;
  border-radius: 30px;
  margin-bottom: 50px;
}
.nav-tabs .active img {
  max-width: 100%;
  filter: invert(1);
}
.product .nav-tabs .nav-link {
  color: #1A1A1A;
}

.sidebar {
  list-style: none;
  border: 1px solid #DCDCDC;
  padding: 20px;
  border-radius: 10px;
}
.sidebar ul {
  padding-left: 0;
}
.list-holder {
  padding-left: 0;
}
.sidebar ul li {
  display: block;
  margin-bottom: 20px;
}
.list-holder li {
  display: flex;
  margin-bottom: 10px
}

.sidebar a.active {
  background: #0E5103;
  width: 100%;
  display: block;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
}

section.site-section.product {
  padding: 30px 0 60px;
}

.icon-holder {
  display: block;
  background: #0E5103;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  margin-bottom: 10px;
}
.sustainability .item-holder-3 {
  border-bottom: 1px solid #ddd;
}

.sustainability .item-holder-3:last-child {
  border-bottom: none;
}

.sustainability {
  padding: 50px;
}
.commitment .container {
  background-color: #0E5103;
  color: #fff;
  border-radius: 20px;
  padding: 50px 20px;
}

.commitment-item {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 10px 0;
}
.commitment {
  padding: 50px 0 60px;
}
.supply-chain {
  padding: 50px 0;
}

.country-item {
  background: #E0FBDC;
  padding: 15px;
  border-radius: 20px;
}
.count-holder {
  background-color: #0E5103;
  padding: 5px 15px;
  color: #fff;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.count-holder span {
  font-weight: 700;
  font-size: 34px;
  position: relative;
  top: 6px;
}

.ser-item {
  border: 1px solid #C6C6C6;
  padding: 15px;
  border-radius: 20px;
  margin-top: 50px;
  min-height: 270px;
}
.count-item {
  width: 50%;
  border-right: 1px solid #7f8b7d;
  padding-left: 10px;
}
.count-item:last-child {

  border: none;
}
.form-holder {
  max-width: 680px;
  margin: 0 auto;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 100%;
}

.upload-btn-wrapper .btn {
  width: 100%;
  border: 1px solid #dcdcdc;
  color: gray;
  background-color: #fcfcfc;
  padding: 8px 20px;
  border-radius: 8px;
}
.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.form-control {
  border: 1px solid #DCDCDC;
  background: #FCFCFC;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 15px;
}
label {
  margin-bottom: 5px;
}
.status {
  width: 100%;
  height: 5px;
  background: #0E5103;
  border-radius: 5px;
  position: relative;

}

.status-holder {
  padding: 10px;
  background: #fcfcfc;
  border: 1px solid #e7e7e7;
  border-radius: 15px;
}
.careers {
  padding: 50px 0 60px;
}
.contact .container {
  background: #E0FBDC;
  border-radius: 20px;
  padding: 50px 30px;
}
.address-holder p {
  margin-top: 0;
  margin-bottom: 5px;
}
.address-holder .icon-holder {
  background: #0E5103;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}
.address-holder img {
  max-width: 25px;
}
.item-holder-4 {
  margin-bottom: 20px;
}
.contact-form .form-holder {
  width: 100%;
  background: #fff;
  padding: 25px;
  border-radius: 20px;
}
.contact {
  padding: 30px 0 60px;
}
.b-r-15 {
  border-radius: 15px;
}
.mission, .mission {
  background: #0E5103;
  color: #fff;
  border: 1px solid #fff;
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 25px;
}
.vison-mission {
  width: 730px;
  position: relative;
}
.story {
  padding: 50px 0;
}
.story .item-holder-4 {
  border-bottom: 1px solid #AEAEAE;
}
.year span {
  width: 100px;
  height: 100px;
  background: #0E5103;
  color: #fff;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 21px;
  border-radius: 100%;
}
.list-3 {
  list-style: none;
  padding-left: 0;
}
.trade {
  color: #000;
}
.list-3 {
  font-size: 17px;
}
.site-section.trade {
  padding: 50px 0 50px;
}
.list-3 li {
  margin-bottom: 10px;
}
.global-markets {
  padding: 30px 0;
}
.owl-stage-outer {
  overflow: hidden;
  border-radius: 20px;
}

.sidebar a {
  display: block;
}


@media all and (min-width: 992px) {

	.dropdown-menu li{
		position: relative;
	}
	.dropdown-menu .submenu{ 
		display: none;
		position: absolute;
		left:100%; top:-7px;
	}
	.dropdown-menu .submenu-left{ 
		right:100%; left:auto;
	}

	.dropdown-menu > li:hover{ background-color: #f1f1f1 }
	.dropdown-menu > li:hover > .submenu{
		display: block;
	}

}	
@media (max-width: 991px) {

.dropdown-menu .dropdown-menu{
		margin-left:0.7rem; margin-right:0.7rem; margin-bottom: .5rem;
}

}	
@media (max-width: 992px) {

  .item-holder {
    position: initial;
    top: initial;
    width: 100%;
    color: #333333;
    padding-top: 35px;
}
body .owl-carousel .owl-dots {
  margin-top: 0;
}
button.owl-dot.active {
  background: #0e5103 !important;
  width: 90px !important;
}
.quality .quality-holder .heading-holder, .supply-chain-holder .heading-holder {
  width: 100%;
}
.ser-item {
  margin-top: 30px;
  min-height: initial;
}
.vison-mission {
  width: 100%;
}

}
@media (max-width: 768px) {
  button.navbar-toggler {
    background: #3e9615;
    padding: 11px 7px 0px;
    border-radius: 9px;
}
.line {
  width: 100%;
  height: 1px;
  background-color: #fff;
  display: block;
  margin-bottom: 8px;
}
.navbar-collapse {
  position: absolute;
  right: 0;
  top: 60px;
  background: #fff;
  z-index: 999;
  padding: 15px;
  box-shadow: 0 5px 6px rgb(0 0 0 / 38%);
  border-radius: 20px;
}
.footer-item {
  border-bottom: 1px solid #c5c5c5;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
.footer-item:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}
.item-holder-2, .agricultural-holder {
  padding-left: 15px;
  padding-right: 15px;
}
}
 #progressBar {
            width: 100%;
            background: #ddd;
            height: 20px;
            display: none;
        }
        #progressBar div {
            height: 100%;
            width: 0%;
            background: green;
            text-align: center;
            color: white;
            line-height: 20px;
        }